 

<!-- Suavizacion exponencial -->

{% extends "layout.html" %}

{% block title %}
<title>Método de Suavización Exponencial</title>
{% endblock %}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li>Suavización Exponencial</li>
      </ol>
      <h2>Suavización Exponencial</h2>

    </div>
  </section><!-- End Breadcrumbs -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Método Suavización Exponencial</h2>
      </div>
      <div class="row content">
        <div class="col-lg-6">
          <p>
            El método de suavizamiento exponencial es una manera de pronosticar la demanda de un producto 
			en un periodo dado. Estima que la demanda será igual a, por ejemplo, la media de los consumos 
			históricos para un periodo dado, dando una mayor ponderación a los valores más cercanos en el 
			tiempo. 
          </p>
          
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Algunas de las técnicas incluidas en la familia de series temporales conocida como alisado 
			o suavizamiento exponencial pueden extrapolarse a entornos de negocio altamente competitivos. 
			Holt-Winters y Box-Jenkins son dos de las más relevantes
          </p>     
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  
<div class="  demo-1" id="demo-1">
	
	<div class="main clearfix">
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Suavización exponencial</h5>
						<div class="card-text">
							<form class="form-inline" method="POST">
								<table class="table">
									{% for field in form %}
									<tr>
										<td>{{ field.label }}</td>
									</tr>
									<tr>
										<td>{{ field }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td> <input type="submit" value="Resolver" class="btn btn-info form-control">
										</td>
										<td></td>
									</tr>
								</table>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Suavización exponencial</h5>
						<p class="card-text">
							<h5>Las ventajas de los métodos de suavización exponencial</h5>
							<ul>
								<li>No necesita de muchos datos históricos, a diferencia de otros métodos como el ARIMA.</li>
								<li>Tiene una mayor precisión que otros al utilizar técnicas de modelado exponencial.</li>
								<li>Es un método que goza de gran flexibilidad, al utilizar datos de demanda que pueden ser elegidos por el investigador.</li>
								<li>El llamado alisado exponencial doble permite reducir los problemas de pronóstico cuando el factor de suavización es mayor a 0.5. Uno de sus pocos inconvenientes.</li>
							  </ul>
						</p>

					</div>
				</div>
			</div>
		</div>

		<!-- parte 2 -->
		<div class="row">
			<div class="col-sm-6">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Tabla de valores aleatorios</h5>
				  <p class="card-text">
					{% if N != None %}
					
					{% for table in tables %}
					{{ table|safe }}
					{% endfor %}
					{% endif %}  
					</p>
				  
				</div>
			  </div>
			</div>
			<div class="col-sm-6">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Gráfica de los números aleatorios generados</h5>
				  <p class="card-text"> 
					{% if N != None %}
			 
					<img src="{{ grafica }}" width="550">
			
					{% endif %}

				  </p>
			 
				</div>
			  </div>
			</div>
		  </div>
		<!-- parte 2 2 -->
	</div>
</div><!-- /container -->
{% endblock %}