{% extends "layout.html" %}

{% block title %}
<title>Línea de espera</title>
{% endblock %}

{% block content %} 
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li>Línea de Espera</li>
      </ol>
      <h2>Método Línea de Espera</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  
 <!-- ======= About Us Section ======= -->
 <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Método Línea de Espera</h2>
      </div>
      <div class="row content">
        <div class="col-lg-6">
          <p>
            Una línea de espera es el efecto resultante en un sistema cuando la demanda de un servicio 
            supera la capacidad de proporcionar dicho servicio. Este sistema está formado por un conjunto 
            de entidades en paralelo que proporcionan un servicio a las transacciones que  aleatoriamente 
            entran al sistema.
          </p>
          <p>
            Dependiendo del sistema que se trate, las entidades  pueden ser cajeras, máquinas, semáforos,
            grúas, etcétera, mientras que las transacciones pueden ser: clientes, piezas, autos, barcos, 
            etcétera.
          </p>
          
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
              
             Tanto el tiempo de servicio como las  entradas al sistema son fenómenos que generalmente 
             tienen asociadas fuentes de variación  que se encuentran fuera del control del tomador de 
             decisiones, de tal forma que se hace necesaria la utilización de modelos estocásticos que 
             permitan el estudio de este tipo de sistemas.
          </p>
          <p>
            Una línea de espera puede modelarse como un proceso estocástico en el cual la variable 
            aleatoria se define como el número de transacciones en el sistema en un momento dado; el 
            conjunto de valores que puede tomar dicha variable es {O, 1, 2, . . . , N\ y cada uno de 
            ellos tiene asociada una probabilidad de ocurrencia.
          </p>     
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

<div class="container">
<legend class="text-left header"></legend> <br>
<legend class="text-center header">Línea de espera</legend><br>
    <div class="card">
        <form method="POST" action="{{url_for('calcularLineaEspera')}}"><br>
            <div class="container">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Landa (λ)</label>
                        <input name="landa" type="number" step="any" class="form-control" id="validationDefault01" value="3"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Miu (µ)</label>
                        <input name="miu" type="number" step="any" class="form-control" id="validationDefault02" value="4"  required>
                    </div>
                    <legend class="text-center header">Método congruencial lineal</legend><br>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Número iteraciones (n)</label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01" value="10"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Semilla (X0)</label>
                        <input name="semilla" type="number" class="form-control" id="validationDefault02" value="4" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Multiplicador (a)</label>
                        <input name="multiplicador" type="number" class="form-control" id="validationDefault01" value="101" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Incremento (c)</label>
                        <input name="incremento" type="number" class="form-control" id="validationDefault02" value="457" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Módulo (m)</label>
                        <input name="modulo" type="number" class="form-control" id="validationDefault01" value="1000" required>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Calcular</button>
            </div>
        </form><br> 
    </div>
</div><br>
{% endblock %}